<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>343550434823-kfnpskjho9m3l457ssf989sqhig72fse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343550434823-kfnpskjho9m3l457ssf989sqhig72fse</string>
	<key>API_KEY</key>
	<string>AIzaSyA5iGZ6XoOKTqmL5TAgREDNclxSdGAgt1U</string>
	<key>GCM_SENDER_ID</key>
	<string>343550434823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Samy-and-Alex-App</string>
	<key>PROJECT_ID</key>
	<string>social-app-d18ff</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-d18ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343550434823:ios:ac1dd969c1112ab8</string>
	<key>DATABASE_URL</key>
	<string>https://social-app-d18ff.firebaseio.com</string>
</dict>
</plist>